keyMaps: [
	{
		modifiers:
			CapsLock: no
			Shift: no
		KeyQ: "q"
		KeyW: "w"
		KeyE: "e"
		KeyR: "r"
		KeyT: "t"
		KeyY: "y"
		KeyU: "u"
		KeyI: "i"
		KeyO: "o"
		KeyP: "p"
		KeyA: "a"
		KeyS: "s"
		KeyD: "d"
		KeyF: "f"
		KeyG: "g"
		KeyH: "h"
		KeyJ: "j"
		KeyK: "k"
		KeyL: "l"
		KeyZ: "z"
		KeyX: "x"
		KeyC: "c"
		KeyV: "v"
		KeyB: "b"
		KeyN: "n"
		KeyM: "m"
	}, {
		modifiers:
			Shift: no
		Backquote: "`"
		Digit1: "1"
		Digit2: "2"
		Digit3: "3"
		Digit4: "4"
		Digit5: "5"
		Digit6: "6"
		Digit7: "7"
		Digit8: "8"
		Digit9: "9"
		Digit0: "0"
		Minus: "-"
		Equal: "="
		IntlYen: "\\"
		BracketLeft: "["
		BracketRight: "]"
		Backslash: "\\"
		Semicolon: ";"
		Quote: "'"
		IntlBackslash: "\\"
		Comma: ","
		Period: "."
		Slash: "/"
		IntlRo: "/"
	}, {
		modifiers: [
			{ CapsLock: yes }
			{ Shift: yes }
		]
		KeyQ: "Q"
		KeyW: "W"
		KeyE: "E"
		KeyR: "R"
		KeyT: "T"
		KeyY: "Y"
		KeyU: "U"
		KeyI: "I"
		KeyO: "O"
		KeyP: "P"
		KeyA: "A"
		KeyS: "S"
		KeyD: "D"
		KeyF: "F"
		KeyG: "G"
		KeyH: "H"
		KeyJ: "J"
		KeyK: "K"
		KeyL: "L"
		KeyZ: "Z"
		KeyX: "X"
		KeyC: "C"
		KeyV: "V"
		KeyB: "B"
		KeyN: "N"
		KeyM: "M"
	}, {
		modifiers:
			Shift: yes
		Backquote: "~"
		Digit1: "!"
		Digit2: "@"
		Digit3: "#"
		Digit4: "$"
		Digit5: "%"
		Digit6: "^"
		Digit7: "&"
		Digit8: "*"
		Digit9: "("
		Digit0: ")"
		Minus: "_"
		Equal: "+"
		IntlYen: "|"
		BracketLeft: "{"
		BracketRight: "}"
		Backslash: "|"
		Semicolon: ":"
		Quote: "\""
		IntlBackslash: "|"
		Comma: "<"
		Period: ">"
		Slash: "?"
		IntlRo: "?"
	}, {
		NumpadMultiply: "*"
		Space: " "
		Numpad7: "7"
		Numpad8: "8"
		Numpad9: "9"
		NumpadSubtract: "-"
		Numpad4: "4"
		Numpad5: "5"
		Numpad6: "6"
		NumpadAdd: "+"
		Numpad1: "1"
		Numpad2: "2"
		Numpad3: "3"
		Numpad0: "0"
		NumpadDecimal: "."
		NumpadEqual: "="
		NumpadComma: ","
	}
]
